@CHARSET "UTF-8";

body {
	background: url(../soundnimg/야구장.png) no-repeat center center fixed;
	background-size : cover;
}

div.content,#label {
	text-align: center;
	margin: 0px auto;
	width: 800px;
	background-color: #ffffff;
	opacity: 0.8;
}

#right {
	top: 80px;
	right: 0px;
	left: 390px;
	width: 328px;
	height: 320px;
	border: 2px solid white;
	text-align: center;
	float: left;
}

#left {
	border: 2px solid white;
	left: 50px;
	width: 330px;
	height: 320px;
	top: 80px;
	float: left;
	margin-right: 10px;
}

#left button {
	font-size: 25px;
	width: 80px;
	height: 60px;
	margin-left: 15px;
	margin-bottom: 10px;
	mrgin-top: 30px;
}

#right button {
	width: 61px;
}

#right input[type="text"] {
	width: 49px;
	height: 31px;
}

input[type="text"] {
	text-align: center;
	margin-top : 20px;
}

h1 {
	color: #fff;
	text-shadow: 0 0 5px #CCCCCC, 0 0 10px #CCCCCC, 0 0 15px #CCCCCC, 0 0
		20px #0054FF, 0 0 25px #0054FF, 0 0 30px#0054FF, 0 0 50px #0054FF, 0
		0 80px #0054FF, 0 0 100px #0054FF, 0 0 150px #0054FF;
	text-align: center;
}

#challenge {
	width : 100px;
	height : 31px;
	margin-bottom : 30px;
}

#results {
	height: 200px;
}

#restart {
	font-size: 15px;
	width: 40px;
	height: 20px;
}


